<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- util -->
		<typeAlias type="java.util.HashMap" alias="HashMap"/>
		
		<package name="com.board.ws.domain.dto"/>
		<package name="com.board.ws.domain.vo"/>
	</typeAliases>
</configuration>